<h1>scorebook</h1>

<div id="img1" style="left:500px; top:50px;position:absolute;">
<%= image_tag "score.jpg", width: 820, height: 520 %>
</div>

 <div>
 <button type="button">メニュー</button>

  <table style="text-align: left; border:0; padding:0.2em; margin-bottom:0.2em; background-color:green; color:white; text-align:center">
<div class="scroll_wrapper">
  <table>
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <td class="total-1">計</td>
        <td class="total-2">H</td>
        <td class="total-2">E</td>
      </tr>
    </thead>
    <tbody>
      <tr class="top">
        <th><span class="flag_h">donnn</span></th>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td class="total-1">1</td>
        <td class="total-2">9</td>
        <td class="total-2">1</td>
      </tr>
      <tr class="bottom">
        <th><span class="flag_c">kokoko</span></th>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>1</td>
        <td>0</td>
        <td class="total-1">1</td>
        <td class="total-2">4</td>
        <td class="total-2">0</td>
      </tr>
    </tbody>
  </table>
</div>

 <table style="text-align: left; border:0; padding:0.2em; margin-bottom:0.2em; background-color:green; color:white; text-align:center">
<div class="scroll_wrapper">
  <table>
    <thead>
     
   <div id="dragitemlist">

 
</div>


   <div class="button" tabindex="0">
<a class="button" tabindex="0">
<a href=><button type="button">保存</button>

　

<div class="noprint">
    <a href="#" onclick="window.print(); return false;">印刷する</a>
</div>


		
	</div>
</div>
<div class="contents-box-head">





